.orders {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  padding-left: 10rem;
}

.order-image {
  height: 100%;
  width: 15rem;
}

.profile-image {
  height: 20rem !important;
  background-color: #fff;
  background-position: center;
  position: absolute;
  z-index: -99;
  margin-bottom: 5rem;
  top: 15%;
  left: 63%;
}

.profile {
  margin-top: 5rem;
}

.profile-paragraph {
  z-index: 5;
  margin-bottom: 5rem;
}
